a {
  font-size: 1.5em;
  color: rgb(48, 48, 48);
  text-decoration: none;
}

h1 {
  font-size: 2.5em;
  text-align: center;
}

div {
  text-align: center;
}

.bouton-c {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 60px;
  line-height: 60px;
  margin: 0.5em 0.4em;
  background: linear-gradient(
    to right,
    rgba(255, 236, 194, 0.5),
    rgba(250, 172, 231, 0.5)
  );
  border: 2px solid rgb(48, 48, 48);
  box-shadow: rgb(48, 48, 48) 0.1em 0.2em 0px;
  border-radius: 1em 1em 1em 1em;
  transition:
    transform 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;
}

.bouton-c:hover {
  box-shadow: rgb(48, 48, 48) 0em 0em 0px;
  transform: translate(0.1em, 0.2em);
}

.bouton-s-c {
  position: relative;
  display: inline-block;
  width: 350px;
  height: 100px;
  line-height: 100px;
  margin: 0.5em 1em;
  background-color: white;
  border: 2px solid black;
  box-shadow: black 0.1em 0.2em 0px;
  border-radius: 1em 1em 1em 1em;
  transition:
    transform 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;
}

.bouton-s-c:hover {
  box-shadow: black 0em 0em 0px;
  transform: translate(0.1em, 0.2em);
}

html {
  scrollbar-width: none;
}

body {
  background-color: rgba(255, 215, 140, 0.5);
  color: rgb(48, 48, 48);
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.index {
  /* background-color: rgba(93, 56, 23, 1); */
  background-color: rgba(255, 215, 140, 0.5);
  background-image:
    linear-gradient(
      to bottom,
      rgba(93, 56, 23, 0.3) 75%,
      rgba(93, 56, 23, 1) 100%
    ),
    url(/images/fondecranlerno6.gif),
    linear-gradient(
      to bottom,
      rgba(93, 56, 23, 1) 830px,
      rgba(255, 215, 140, 0.5) 2000px
    );
  background-repeat: no-repeat;
  background-position: top center;
  background-size:
    100% 828px,
    100% auto,
    100% 100%;
  color: rgb(48, 48, 48);
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
::-webkit-scrollbar {
  display: none;
}

.bouton-i {
  position: relative;
  display: inline-block;
  width: 450px;
  height: 70px;
  line-height: 70px;
  margin: 0.5em 0.4em;
  background: linear-gradient(
    to right,
    rgba(255, 236, 194, 0.5),
    rgba(250, 172, 231, 0.5)
  );
  border: 2px solid rgb(48, 48, 48);
  box-shadow: rgb(48, 48, 48) 0.1em 0.2em 0px;
  font-size: 1.25em;
  border-radius: 1em 1em 1em 1em;
  transition:
    transform 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;
}

.bouton-i:hover {
  box-shadow: rgb(48, 48, 48) 0em 0em 0px;
  transform: translate(0.1em, 0.2em);
}

.title {
  position: relative;
  margin-top: 2.9em;
  font-size: 5em;
}

p {
  margin-top: 200em;
}
